@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: 'ABCMonumentGrotesk';
  src: url('/fonts/ABCMonumentGrotesk-Regular-Trial.woff') format('woff');
}

@font-face {
  font-family: 'ABCSocial-Medium';
  src: url('/fonts/ABCSocialExtended-Medium-Trial.woff') format('woff');
}

@font-face {
  font-family: 'ABCSocial-Regular';
  src: url('/fonts/ABCSocialExtended-Regular-Trial.woff2') format('woff2');
}

@font-face {
  font-family: 'ABCSocial-Bold';
  src: url('/fonts/ABCSocial-Bold-Trial.woff') format('woff');
}

@theme {
/*Typografier*/
--font-display: 'ABCSocial-Regular', sans-serif;
--font-body: 'ABCMonumentGrotesk', sans-serif;
--font-UI: 'ABCSocial-Medium', sans-serif;
--font-bold: 'ABCSocial-Bold', sans-serif;

  /* Størrelser */
  --text-70: 70px;          /* store overskrifter */
  --text-50: 50px;
  --text-40: 40px;     /* til mindre skærme */
  --text-35: 35px;
  --text-25: 25px;
  --text-20: 20px;
  --text-16: 16px;             /* almindelig brødtekst */



  --line-height-display-h1: 73px;
  --line-height-display-h2: 53px;
  --line-height-h1-tlf: 45px;
  --line-height-h2-tlf: 35px;
  --text-body-line-height: 19px;
  


  --text-nav: 20px;
  --text-nav-tab: 15px;           /* små labels og knapper */
  --text-knap: 1.4;
}

@layer base {
  h1 {
    font-size: var(--text-70);
    line-height: var(--line-height-display-h1);
    font-family: var(--font-display);
  }

  h2{
    font-size: var(--text-50);
    line-height: var(--line-height-display-h2);
    font-family: var(--font-display);
  }

  h3{
    font-size: var(--text-25);
    font-family: var(--font-body);
  }

  h4{
    font-size: var(--text-25);
    font-family: var(--font-UI);
  }

  h5{
    font-size: var(--text-25);
    font-family: var(--font-body);
  }

  p{
    font-size: var(--text-16);
    line-height: var(--text-body-line-height);
    font-family: var(--font-body);
  }

  @media (max-width: 768px) {
    h1 {
      font-size: var(--text-40);
      font-family: var(--font-display);
      line-height: var(--line-height-h1-tlf);
      padding-bottom: 20px;
    }

    h2 {
      font-size: var(--text-35);
      font-family: var(--font-display);
      line-height: var(--line-height-h2-tlf);
    }

    h3 {
      font-size: var(--text-25);
      font-family: var(--font-body);

    }

    h4 {
      font-size: var(--text-20);
      font-family: var(--font-UI);

    }

    h5{
      font-size: var(--text-25);
      font-family: var(--font-body);

    }

    p {
      font-size: var(--text-16);
      line-height: var(--text-body-line-height);
      font-family: var(--font-body);
    }
  }

  
}

@layer components{

}
@layer utilities{
  
}