---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <Hero />
  <article>
    <h1>Index overskrift</h1>
  </article>
</MainLayout>
